[Unit]
Description=Simple Sinatra App

[Service]
Type=simple
ExecStart={{ app_dir }}/simple-sinatra-app-init.sh
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
